<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>
	<system.webServer>
		<handlers>
			<add name="AddItemToBasketHttpHandler" path="/baskets/*" verb="POST" type="SpikeCheckoutKataApi.Web.Adapters.Http.AddItemToBasketHttpHandler"/>
			<add name="CreateBasketHttpHandler" path="/baskets" verb="POST" type="SpikeCheckoutKataApi.Web.Adapters.Http.CreateBasketHttpHandler"/>
			<add name="RetrieveBasketHttpHandler" path="/baskets/*" verb="GET" type="SpikeCheckoutKataApi.Web.Adapters.Http.RetrieveBasketHttpHandler"/>
			<add name="HttpHandler" path="/" verb="GET" type="SpikeCheckoutKataApi.Web.Adapters.Http.HttpHandler"/>
		</handlers>
	</system.webServer>
</configuration>