<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>
	<system.webServer>
		<handlers>
			<add name="HttpHandlerFactory" path="*" verb="*" type="SpikeCheckoutKataApi.Web.Adapters.Http.HttpHandlerFactory"/>
		</handlers>
	</system.webServer>
</configuration>