<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>
	<system.webServer>
		<handlers>
			<add name="AddItemToBasketHandler" path="/baskets/*" verb="POST" type="SpikeCheckoutKataApi.Web.Http.AddItemToBasket.AddItemToBasketHandler"/>
			<add name="CreateBasketHandler" path="/baskets" verb="POST" type="SpikeCheckoutKataApi.Web.Http.CreateBasket.CreateBasketHandler"/>
			<add name="RetrieveBasketHandler" path="/baskets/*" verb="GET" type="SpikeCheckoutKataApi.Web.Http.RetrieveBasket.RetrieveBasketHandler"/>
			<add name="HttpHandler" path="/" verb="GET" type="SpikeCheckoutKataApi.Web.Http.HttpHandler"/>
		</handlers>
	</system.webServer>
</configuration>